[submodule "assignment-autotest"]
        path = assignment-autotest
        url = git@github.com:cu-ecen-5013/assignment-autotest.git
[submodule "buildroot"]
        path = buildroot
	url = git@github.com:buildroot/buildroot.git

